body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url("img/HeaderBG.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}
.navbar{
    margin-top: 20px;
    margin-left: 50px;
    
}
.display-3{
    margin-top: 40vh;
}
#go{
    width: 150px;
}

#topDestination{
    padding-bottom: 25px;
    background-color: rgb(228, 220, 220);
}


#textTop{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.card-img-top{
    height: 180px;
}
.card-body{
    font-size: 0.875em;
}

.card-img-overlay {
    display: flex;
    height: 180px;
}
.cardtext{
    border: none !important;
}
.subscribe{
    width: 180px;
}
footer{
    background-color: rgb(228, 220, 220);
    
}
.footertext1{
    font-size: small;
}
.footertext2{
    font-weight: bold;
}
